{% extends "core/base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h2>Elegí tu producto</h2>
    <div class="list-group">
        {% for product in products %}
            <div class="list-group-item">
                <a href="{% url 'product' product.id %}">
                    <h4 class="list-group-item-heading">{{ product.name }}</h4>
                    <p class="list-group-item-text">${{ product.price }}</p>
                    <p>Comprar!</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
